body {background: black; color: white;}
h1 {font-size: 20px;}
p {font-size: 12px;}
p {color: green;}
div {border-style: dotted; border-width: 2px; 
    height: 100px;
    width: 10opx; }
ol {list-style-type: upper-alpha;}
ul {list-style-type: square;}